<ion-app>
    <!-- Encabezado de la página -->
    <ion-header>
        <ion-toolbar id="first-of-type-login">
            <ion-title  id="title3">Panel de Administración</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-button  id="last-of-type" (click)="logout()">Cerrar sesión</ion-button>

    <!-- Contenido principal -->
    <ion-content>
        <!-- Sección de Clientes -->
       
                <ion-title id="title2" >Administrar Clientes</ion-title>
                    <ion-list *ngIf="usuarios?.length ; else noClientes">
                    <ion-card *ngFor="let usuario of usuarios" class="slide-up-card3">
                        <ion-label>
                            <h2>Usuario: {{ sanitizeEmail(usuario.email) }} </h2>
                            <p>Activada: {{ usuario.verificado ? 'Sí' : 'No' }}</p>
                        </ion-label>

                        <ion-buttons >
                            <ion-button color="success" (click)="activarUsuario(usuario.id)">Activar</ion-button>                        
                            <ion-button color="danger" (click)="confirmDeleteAccount({ id: usuario.id, email: usuario.email, user_type: usuario.user_type, created_at: usuario.created_at })">Eliminar Cuenta</ion-button>
                            <ion-button color="danger" (click)="desactivarUsuario(usuario.id)">Desactivar</ion-button>
                        </ion-buttons>
                    </ion-card>
                    </ion-list>

        <ng-template #noClientes>
            <ion-text>
                <h2>Aún no hay Usuarios disponibles en este Estado</h2>
            </ion-text>
        </ng-template>

        <!-- Sección de Conductores -->

            <ion-card-title id="title2">Administrar Conductores</ion-card-title>
                <ion-list *ngIf="conductores?.length ; else noConductores">
                  <ion-card *ngFor="let conductor of conductores" class="slide-up-card2">
                        <ion-label>
                            <h2>Conductor: {{ sanitizeEmail(conductor.email) }} </h2>
                            <p>Activada: {{ conductor.verificado ? 'Sí' : 'No' }}</p>
                        </ion-label>
                    <ion-buttons >
                        <ion-button color="success" (click)="activarUsuario(conductor.id)">Activar</ion-button>
                        <ion-button color="danger" (click)="desactivarUsuario(conductor.id)">Desactivar</ion-button>
                        <ion-button color="danger" (click)="confirmDeleteAccount({ id: conductor.id, email: conductor.email, user_type: conductor.user_type, created_at: conductor.created_at })">Eliminar Cuenta</ion-button>
                    </ion-buttons >
                    </ion-card>
                </ion-list>

        <ng-template #noConductores>
            <ion-text>
                <h2>Aún no hay Conductores disponibles en este Estado</h2>
            </ion-text>
        </ng-template>

        <!-- Sección de Paquetes -->
            <ion-card-title id="title2">Administrar Paquetes</ion-card-title>
                <ion-list *ngIf="pedidos?.length; else noPedidos">
                    <ion-card  *ngFor="let pedido of pedidos" class="slide-up-card2">
                        <ion-label>
                            <h2>Paquete: {{ pedido.nombre_pedido }}</h2>
                            <p>Estado: {{ pedido.estado }}</p>
                        </ion-label>
                    <ion-buttons >
                        <ion-button color="tertiary">Editar</ion-button>
                        <ion-button color="danger">Eliminar</ion-button>
                    </ion-buttons >
                    </ion-card>
                </ion-list>

        <ng-template #noPedidos>
            <ion-text>
                <h2>Aún no hay Pedidos disponibles en este Estado</h2>
            </ion-text>
        </ng-template>
    </ion-content>
</ion-app>
