<ion-app>
    <!-- Encabezado de la página -->
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Panel de Administración</ion-title>
        </ion-toolbar>
    </ion-header>

    <!-- Contenido principal -->
    <ion-content>
        <!-- Sección de Clientes -->
        <ion-card>
            <ion-card-header>
                <ion-card-title >Administrar Clientes</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list *ngIf="usuarios?.length ; else noClientes">
                    <ion-item  color="primary" *ngFor="let usuario of usuarios">
                        <ion-label>
                            <h2>Usuario: {{ sanitizeEmail(usuario.email) }} </h2>
                            <p>Activada: {{ usuario.verificado ? 'Sí' : 'No' }}</p>
                        </ion-label>

                        <ion-buttons >
                            <ion-button color="success" (click)="activarUsuario(usuario.id)">Activar</ion-button>
                            <ion-button color="danger" (click)="desactivarUsuario(usuario.id)">Desactivar</ion-button>
                        </ion-buttons>

                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>

        <ng-template #noClientes>
            <ion-text>
                <h2>Aún no hay Usuarios disponibles en este Estado</h2>
            </ion-text>
        </ng-template>

        <!-- Sección de Conductores -->
        <ion-card>
            <ion-card-header>
                <ion-card-title>Administrar Conductores</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list *ngIf="conductores?.length ; else noConductores">
                    <ion-item *ngFor="let conductor of conductores">
                        <ion-label>
                            <h2>Conductor: {{ sanitizeEmail(conductor.email) }} </h2>
                            <p>Activada: {{ conductor.verificado ? 'Sí' : 'No' }}</p>
                        </ion-label>
                        <ion-button color="success" (click)="activarUsuario(conductor.id)">Activar</ion-button>
                        <ion-button color="danger" (click)="desactivarUsuario(conductor.id)">Desactivar</ion-button>
                        <ion-button color="danger" (click)="confirmDeleteAccount({ id: conductor.id, email: conductor.email, user_type: conductor.user_type, created_at: conductor.created_at })">Eliminar Cuenta</ion-button>

                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>

        <ng-template #noConductores>
            <ion-text>
                <h2>Aún no hay Conductores disponibles en este Estado</h2>
            </ion-text>
        </ng-template>

        <!-- Sección de Paquetes -->
        <ion-card>
            <ion-card-header>
                <ion-card-title>Administrar Paquetes</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list *ngIf="pedidos?.length; else noPedidos">
                    <ion-item *ngFor="let pedido of pedidos">
                        <ion-label>
                            <h2>Paquete: {{ pedido.nombre_pedido }}</h2>
                            <p>Estado: {{ pedido.estado }}</p>
                        </ion-label>
                        <ion-button color="tertiary">Editar</ion-button>
                        <ion-button color="danger">Eliminar</ion-button>
                    </ion-item>
                </ion-list>
                <ion-button color="primary" (click)="logout()">cerrar sesión</ion-button>

            </ion-card-content>
        </ion-card>

        <ng-template #noPedidos>
            <ion-text>
                <h2>Aún no hay Pedidos disponibles en este Estado</h2>
            </ion-text>
        </ng-template>
    </ion-content>
</ion-app>
