
  <ion-card class="card-centerr" *ngIf="pedido">
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-button routerLink="/conductor-menu/mis-pedidos" clas="naranja">
    <ion-icon name="arrow-back-outline"></ion-icon>Volver</ion-button>
  </ion-buttons>
</ion-toolbar>
    <ion-card-header>
      <ion-card-title id="title4">{{ pedido.nombre_pedido }}</ion-card-title>
      <ion-card-subtitle>{{ pedido.fecha }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-img *ngIf="pedido.foto" [src]="pedido.foto" alt="Foto del pedido"></ion-img>
      <p><strong>Descripción:</strong> {{ pedido.descripcion_pedido }}</p>
      <p><strong>Dirección de Pedido:</strong> {{ pedido.direccion_pedido }}</p>
      <p><strong>Dirección de Entrega:</strong> {{ pedido.direccion_entrega }}</p>
      <p><strong>Destinatario:</strong> {{ pedido.nombre_destinatario }}</p>
      <p><strong>Comuna:</strong> {{ pedido.comuna }}</p>
      <p><strong>Teléfono:</strong> {{ pedido.telefono }}</p>
      <p><strong>Cantidad de Paquetes:</strong> {{ pedido.cantidad_paquetes }}</p>
      <p><strong>Dimensiones:</strong></p>
    <li><strong>Alto:</strong> {{ pedido.dimensiones.alto }} {{ pedido.dimensiones.unidad }}</li>
    <li><strong>Ancho:</strong> {{ pedido.dimensiones.ancho }} {{ pedido.dimensiones.unidad }}</li>
    <li><strong>Largo:</strong> {{ pedido.dimensiones.largo }} {{ pedido.dimensiones.unidad }}</li>
      <p><strong>Fragil:</strong> {{ pedido.fragil ? 'Sí' : 'No' }}</p>
      <p><strong>Cambio:</strong> {{ pedido.cambio ? 'Sí' : 'No' }}</p>
      <p><strong>Excede 2,5 Kilos:</strong> {{ pedido.excedeKilos ? 'Sí' : 'No' }}</p>
      <p><strong>Costo:</strong> {{ pedido.costo }}</p>
      <p><strong>Estado:</strong> {{ pedido.estado }}</p>
      
    
    <!-- Botón para mostrar el mapa -->
    <ion-button id="last-of-type" (click)="toggleMapa()" [disabled]="botonDeshabilitado">
    {{ mostrarMapa ? 'Ocultar Referencia de Trayecto' : 'Mostrar Referencia de Trayecto' }}
    </ion-button>
    
      <!-- Contenedor del mapa que se mostrará u ocultará dinámicamente -->
      <div id="map" *ngIf="mostrarMapa" style="width: 100%; height: 300px;"></div>
    </ion-card-content>
  </ion-card>
