<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="changePassword()">
    <ion-item>
      <ion-label position="floating">Contraseña Actual</ion-label>
      <ion-input type="password" [(ngModel)]="currentPassword" name="currentPassword" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmar Nueva Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">Cambiar Contraseña</ion-button>
  </form>
</ion-content>
