  <!-- Filtro de estado -->
  <ion-item class="card-centerr">
    <ion-label>Filtrar por estado</ion-label>
    <ion-select [(ngModel)]="selectedState" (ionChange)="filterPedidos()">
      <ion-select-option value="">Todos</ion-select-option>
      <ion-select-option value="por tomar">Por Tomar</ion-select-option>
      <ion-select-option value="tomado">Tomado</ion-select-option>
      <ion-select-option value="entregado">Entregado</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Mostrar el costo total de pedidos no pagados -->
  <ion-item class="card-centerr">
    <ion-label>Total: {{ totalCosto | currency :'CLP $':'symbol':'1.0-0' }}</ion-label>
  </ion-item>

  <!-- Lista de pedidos -->
  <ion-list>
    <ion-card class="slide-up-card2"  *ngFor="let pedido of pedidos">

      <ion-label>
        <h2  id="title4">{{ pedido.nombre_pedido }}</h2>
        <p>{{ pedido.descripcion_pedido }}</p>
        <p>Estado: {{ pedido.estado }}</p>
        <p>Fecha tomado: {{ pedido.fecha_tomado | date }}</p>
        <p>Estado: {{ pedido.pagado }}</p>
        <h3>costo: {{ pedido.costo | currency:'CLP $':'symbol':'1.0-0' }}</h3>

            
            <ion-title  >
              <ion-label >Seleccione Método de Pago</ion-label>
            </ion-title>

          <ion-radio-group  [(ngModel)]="metodoPago">
        
            <ion-item class="custom-radio-item ">
              <div class="icon-label-container">
              <ion-label>Mercado Pago</ion-label>
              <ion-radio slot="start" value="mercadoPago"></ion-radio>
              </div>
            </ion-item>
            <ion-item class="custom-radio-item">
              <div class="icon-label-container">
              <ion-label >Webpay Plus</ion-label>
              <ion-radio slot="start" value="webpayPlus"></ion-radio>
            </div>
            </ion-item>
          </ion-radio-group>


        <ion-button (click)="pagarPedido(pedido.id)" id="last-of-type">Pagar</ion-button>
 
      </ion-label>
    </ion-card>
  </ion-list>

