<ion-content>
<div class="main-container">

  <ion-card class="card-centerr whith-content">
      <h1 id="title3">Tipo de Usuario:</h1>
      <p id="title5"><strong>Selecciona un tipo de usuario</strong></p>

        <p id="espacio"></p>

      <ion-radio-group [(ngModel)]="userType">

        <ion-item [ngClass]="{'selected': userType === 'normal'}"  class="custom-radio-item ">
          <div [ngClass]="{'selected': userType === 'normal'}" class="icon-label-container2">
              <ion-radio slot="start" value="normal" ></ion-radio>
              <ion-icon name="person-outline" class="custom-icon "></ion-icon>
              <ion-label>Conductor</ion-label>
            </div>
        </ion-item>

        <ion-item [ngClass]="{'selected': userType === 'conductor'}" class="custom-radio-item">
          <div [ngClass]="{'selected': userType === 'conductor'}" class="icon-label-container2">
              <ion-icon name="car-sport-outline" class="custom-icon"><ion-radio slot="start" value="conductor"></ion-radio>
              </ion-icon>
              <ion-label>Conductor</ion-label> 
            </div>
        </ion-item>
      </ion-radio-group>
        <p id="espacio"></p>

      <ion-button id="last-of-type" (click)="RegisterGoogle()">Iniciar con Google</ion-button>
      <ion-button id="second-of-type" fill="clear" expand="full" (click)="goBack()">Volver</ion-button>
      <ion-text color="danger" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </ion-text>

  </ion-card>
  </div>
</ion-content>
