.responsive-img {
    width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
    /* Centra la imagen */
}
/* Agrega estilos para que los botones se vean bien */
ion-button {
    margin-top: 10px;
  }
  