

  <!-- Mostrar pedidos disponibles para tomar -->
  <ion-list *ngIf="pedidos.length > 0; else noPedidos">
      <ion-card *ngFor="let pedido of pedidos" (click)="verDetalles(pedido.id)" class="card-centerr">
        <ion-card-header>
          <ion-card-title id="title4">{{ pedido.nombre_pedido }}</ion-card-title>
          <ion-card-subtitle>{{ pedido.fecha }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Dirección de recogida:</strong> {{ pedido.direccion_pedido }}</p>
          <p><strong>Dirección de Entrega:</strong> {{ pedido.direccion_entrega }}</p>
          <p><strong>Comuna:</strong> {{ pedido.comuna }}</p>
          <p><strong>Teléfono:</strong> {{ pedido.telefono }}</p>
          <ion-button (click)="tomarPedido(pedido.id)" id="last-of-type" >Tomar</ion-button>
        </ion-card-content>
      </ion-card>
  </ion-list>

  <!-- Mostrar pedidos en centro de distribución -->
  <ion-list *ngIf="pedidosReanudar.length > 0; else noPedidosReanudar">
      <ion-card *ngFor="let pedido of pedidosReanudar" (click)="verDetalles(pedido.id)" class="card-centerr">
        <ion-card-header>
          <ion-card-title id="title4">{{ pedido.nombre_pedido }}</ion-card-title>
          <ion-card-subtitle>{{ pedido.fecha }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Dirección de recogida:</strong> {{ pedido.direccion_pedido }}</p>
          <p><strong>Dirección de Entrega:</strong> {{ pedido.direccion_entrega }}</p>
          <p><strong>Comuna:</strong> {{ pedido.comuna }}</p>
          <p><strong>Teléfono:</strong> {{ pedido.telefono }}</p>
          <ion-button (click)="tomarPedidoIngresado(pedido.id)"id="last-of-type">Reanudar</ion-button>
        </ion-card-content>
      </ion-card>
  </ion-list>

  <ng-template #noPedidos>
    <ion-text>
      <h2>No hay pedidos disponibles para tomar.</h2>
    </ion-text>
  </ng-template>

  <ng-template #noPedidosReanudar>
    <ion-text>
      <h2>No hay pedidos disponibles para reanudar.</h2>
    </ion-text>
  </ng-template>

