<!-- agregar-pedidos.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Entrega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="pedidos.length > 0; else noPedidos">
    <ion-item *ngFor="let pedido of pedidos" (click)="verDetalles(pedido.id)">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ pedido.nombre_pedido }}</ion-card-title>
          <ion-card-subtitle>{{ pedido.fecha }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Dirección de recogida:</strong> {{ pedido.direccion_pedido }}</p>
          <p><strong>Dirección de Entrega:</strong> {{ pedido.direccion_entrega }}</p>
          <p><strong>Comuna:</strong> {{ pedido.comuna }}</p>
          <p><strong>Teléfono:</strong> {{ pedido.telefono }}</p>
          <ion-button (click)="tomarPedido(pedido.id)" color="primary">Tomar</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <ng-template #noPedidos>
    <ion-text>
      <h2>No hay pedidos disponibles para tomar.</h2>
    </ion-text>
  </ng-template>
</ion-content>
