<ion-header>
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-img class="responsive-img" src="assets/img/lastdon-logo.png"></ion-img>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Iniciar Sesión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="login()">
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit">Ingresar</ion-button>
        <ion-button expand="full" fill="clear" routerLink="/register">Registrarse</ion-button>
      </form>
      <ion-text color="danger" *ngIf="errorMessage">
        <p>{{ errorMessage }}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-button id="open-modal" expand="full" (click)="signIn()">
    Ingresar con Google
  </ion-button>

  <ion-button id="open-modal" expand="full" (click)="presentUserTypeSelection()">
    Continuar con Google
  </ion-button>

  <ion-modal #modal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Volver</ion-button>
          </ion-buttons>
          <ion-title>Registro Con Google</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label>Tipo de Usuario</ion-label>
        </ion-item>
        <ion-radio-group [(ngModel)]="userType">
          <ion-item>
            <ion-label>Usuario Normal</ion-label>
            <ion-radio slot="start" value="normal"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Conductor</ion-label>
            <ion-radio slot="start" value="conductor"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <ion-button expand="full" (click)="registerUserWithGoogle()">Registrar</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
