<ion-header>
  <ion-toolbar>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contactanos</ion-card-title>
      <ion-card-subtitle class="ion-text-center">nuestras redes sociales</ion-card-subtitle>
      <ion-button href="https://wa.me/+56977022449" target="_blank">WhatsApp</ion-button>
      <ion-button href="https://www.instagram.com/remates_lastdon/" target="_blank">Instagram</ion-button>
      
      
    </ion-card-header>
  
    <ion-card-content>
      Si necesitas ponerte en contacto con nosotros por cualquier motivo, no dudes en hacerlo a través de nuestras redes sociales. Estamos aquí para atender tus consultas y responder a tus inquietudes de manera eficiente.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ubícanos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="map-container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13308.722263910384!2d-70.65560443485253!3d-33.496678973937264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662db0ca4d97b7f%3A0x3dcf62740a7b392b!2sInversiones%20Last%20Don%20SpA%20-%20Remates%2C%20Transportes%2C%20Venta%20Productos%20Textiles%20Lady%20Genny%20%26%20Baziani%2C%20Calzado%20y%20Deportes!5e0!3m2!1ses!2scl!4v1721830580710!5m2!1ses!2scl"
          frameborder="0"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
