<ion-header>
  <ion-toolbar>
    <ion-title>Mis Entregas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Filtro de estado -->
  <ion-item>
    <ion-label>Filtrar por estado</ion-label>
    <ion-select [(ngModel)]="selectedState" (ionChange)="filterPedidos()">
      <ion-select-option value="">Todos</ion-select-option>
      <ion-select-option value="tomado">Tomado</ion-select-option>
      <ion-select-option value="recepcionado">Recepcionado</ion-select-option>
      <ion-select-option value="entregado">Entregado</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Lista de pedidos -->
  <ion-list>
    <ion-item *ngFor="let pedido of pedidos" (click)="verDetalles(pedido.id)">
      <ion-label>
        <h2>{{ pedido.nombre_pedido }}</h2>
        <p>{{ pedido.descripcion_pedido }}</p>
        <p>Estado: {{ pedido.estado }}</p>
        <p>Fecha tomado: {{ pedido.fecha_tomado | date }}</p>
      </ion-label>

      <!-- Botón "Recepcionado" solo si el pedido está en estado "tomado" -->
      <ion-button 
        (click)="recepcionar(pedido.id)"
        *ngIf="pedido.estado === 'tomado'" 
        color="secondary">
        Recepcionado
      </ion-button>




         <!-- Botón "Recepcionado" solo si el pedido está en estado "tomado" -->
         <ion-button 
         *ngIf="pedido.estado === 'tomado'" 
         color="secondary">
         Recepcionado fallido
       </ion-button>




         <!-- Botón "envío rápido" solo si el pedido está en estado "recepcionado" -->
         <ion-button 
         (click)="marcarEnvioRapido(pedido.id)"
         *ngIf="pedido.estado === 'recepcionado'" 
         color="primary">
         Envío rápido
       </ion-button>




      <!-- Botón "Entregado" solo si el pedido está en estado "Ingresado a centro de distribución" -->
      <ion-button 
        (click)="entregarPedido(pedido.id)" 
        *ngIf="pedido.estado === 'reanudado' || pedido.estado === 'Envio rápido'" 
        color="primary">
        Entregado
      </ion-button>

         <!-- Botón "Entregado" solo si el pedido está en estado "Ingresado a centro de distribución" -->
         <ion-button 
         *ngIf="pedido.estado === 'reanudado' || pedido.estado === 'Envio rápido'" 
         color="primary">
         Entrega Falllida
       </ion-button>


      <!-- Botón "Ingresar a Centro de Distribución" solo si el pedido está en estado "recepcionado" -->
      <ion-button 
        (click)="ingresarCentroDistribucion(pedido.id)"
        *ngIf="pedido.estado === 'recepcionado'" 
        color="primary">
        Ingresar
      </ion-button>

        <!-- Botón "Ingresar a Centro de Distribución" solo si el pedido está en estado "recepcionado" -->
        <ion-button 
        (click)="tomarFotoEntrega(pedido.id)"
        *ngIf="pedido.estado === 'reanudado' || pedido.estado === 'Envio rápido'"
        color="primary">
        Foto de entrega
      </ion-button>




    </ion-item>
  </ion-list>
</ion-content>
