    <!-- Botones para filtrar pedidos -->
  <ion-grid class="card-centerr">
    <ion-row >
      <ion-col>
        <ion-button id="last-of-type"(click)="filtrarPedidos('hoy')" >Hoy</ion-button>
      </ion-col>
      <ion-col>
        <ion-button id="last-of-type" (click)="filtrarPedidos('ayer')" >Ayer</ion-button>
      </ion-col>
      <ion-col>
        <ion-button id="last-of-type" (click)="filtrarPedidos('semana')" >Última Semana</ion-button>
      </ion-col>
      <ion-col>
        <ion-button id="last-of-type" (click)="filtrarPedidos('todos')" >Todos</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Contadores de pedidos -->
  <ion-card class="slide-up-card3">
    <ion-card-header>
      <ion-card-title>Contador de Pedidos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Pedidos Tomados: {{ totalPedidosTomados }}</p>
      <p>Pedidos Entregados: {{ totalPedidosEntregados }}</p>
    </ion-card-content>
  </ion-card>


  <!-- Tabla de pedidos filtrados 
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pedidos Filtrados: {{ filtroActual }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="table-container">
        <ion-grid>
          <table class="pedidos-table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Conductor Receptor</th>
                <th>Fecha Tomado</th>
                <th>Conductor Entrega</th>
                <th>Fecha Entregado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pedido of pedidosFiltrados" (click)="verDetalles(pedido.id)">
                <td>{{ pedido.nombre_pedido }}</td>
                <td>{{ pedido.estado }}</td>
                <td *ngIf="pedido.primer_conductor === null || pedido.primer_conductor !== ''">{{ pedido.primer_conductor || pedido.conductor }}</td>
                <td>{{ pedido.fecha_tomado | date:'shortDate' }}</td>
                <td *ngIf="pedido.primer_conductor !== null && pedido.primer_conductor !== '' || pedido.primer_conductor === null && pedido.estado === 'entregado' ">{{ pedido.conductor }}</td>
                <td>{{ pedido.fecha_entrega | date:'shortDate' }}</td>
              </tr>
            </tbody>
          </table>
        </ion-grid>
      </div>
    </ion-card-content>
  </ion-card> -->


<ion-title  id="title2" >Mis Pedidos</ion-title>

<!-- Filtro de lista de pedidos por estado -->
  <ion-item class="card-centerr">
    <ion-label>Filtrar por estado</ion-label>
    <ion-select [(ngModel)]="selectedState" (ionChange)="filterPedidos()">
      <ion-select-option value="">Todos</ion-select-option>
      <ion-select-option value="tomado">Tomado</ion-select-option>
      <ion-select-option value="recepcionado">Recepcionado</ion-select-option>
      <ion-select-option value="entregado">Entregado</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- Lista de pedidos -->
  <ion-list>
    <ion-card class="slide-up-card3" *ngFor="let pedido of pedidos" (click)="verDetalles(pedido.id)">
        <h1 id="title3">{{ pedido.nombre_pedido }}</h1>
      <hr />

      <div id="left" class="row">
        <ion-img id="left"class="direccion" src="assets/img/localizador-bordes.png"></ion-img>
        <h2 class="text">{{ pedido.direccion_entrega }}</h2>
      </div>
      <div id="left" class="row">
        <ion-img class="direccion" src="assets/img/localizador-naranjo.png"></ion-img>
        <h2 class="text">{{ pedido.direccion_pedido }}</h2>
      </div>
      
  <ion-card class= "gris-content" >
    <h2 id="left">Datos del Pedido</h2>
      <hr />
      <div class="display-flex">
      <p>
        <strong>Fragil:</strong>
        <span class="answer">{{ pedido.fragil ? 'Sí' : 'No' }}</span>
      </p>
      <p>
        <strong>Cambio:</strong> 
        <span class="answer">{{ pedido.cambio ? 'Sí' : 'No' }}</span>
      </p>
      <p>
        <strong>Excede 2,5 Kilos:</strong>      
        <span class="answer">{{ pedido.excedeKilos ? 'Sí' : 'No' }}</span>
      </p>
      </div>
      </ion-card>
     <ion-card class= "gris-content" >
    <h2 id="left">Descripcion del paquete</h2>
    <h2><strong>{{ pedido.descripcion_pedido }}</strong></h2>
   </ion-card>


      <!-- Botones de acción para cada pedido -->
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button (click)="recepcionar(pedido.id)" *ngIf="pedido.estado === 'tomado'" id="last-of-type">Recepcionado</ion-button>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-button (click)="contactarPorWsp(pedido.id)" *ngIf="pedido.estado === 'tomado'" id="first-of-type">Contactar Cliente</ion-button>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-button (click)="recepcionFallidaYLiberar(pedido.id)" *ngIf="pedido.estado === 'tomado'" color="danger">Recepción fallida</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <!-- Botones de entrega -->
        <ion-row>
          <ion-col>
            <ion-button (click)="entregarPedido(pedido.id)" *ngIf="pedido.estado === 'reanudado' || pedido.estado === 'Envio rápido'" id="last-of-type">Entregado</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="contactarPorWsp(pedido.id)" *ngIf="pedido.estado === 'reanudado' || pedido.estado === 'Envio rápido'" id="last-of-type">Contactar Cliente</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="marcarEntregaFallida(pedido.id)" *ngIf="pedido.estado === 'reanudado' || pedido.estado === 'Envio rápido'" id="last-of-type">Entrega Fallida</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>  
          <ion-col>
            <ion-button (click)="tomarFotoEntrega(pedido.id)" *ngIf="pedido.estado === 'reanudado' || pedido.estado === 'Envio rápido'" id="last-of-type">Foto de entrega</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="ingresarCentroDistribucion(pedido.id)" *ngIf="pedido.estado === 'recepcionado'" id="last-of-type">Ingresar</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="marcarEnvioRapido(pedido.id)" *ngIf="pedido.estado === 'recepcionado'" id="last-of-type">Envío rápido</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>