<ion-header>
  <ion-toolbar>
    <ion-title>Menú Conductor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/conductor-menu/mis-pedidos">
      <ion-label>Mis Pedidos</ion-label>
    </ion-item>
    <ion-item routerLink="/conductor-menu/agregar-pedido">
      <ion-label>Agregar Pedido</ion-label>
    </ion-item>
    <ion-item routerLink="/conductor-menu/perfil">
      <ion-label>Perfil</ion-label>
    </ion-item>
  </ion-list>
  <router-outlet></router-outlet> <!-- Añadir el router outlet -->
</ion-content>
