<ion-header>
  <ion-toolbar>
    <ion-title>sobre la aplicacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Somos Lastdon</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      En Lastdon nos enorgullece ofrecer un servicio de transporte para envíos con Mercado Plex, diseñado para simplificar y agilizar tus entregas. Nos esforzamos por brindarte una experiencia excepcional en cada envío, asegurando que tus productos lleguen a su destino de manera rápida, segura y confiable.
    </ion-card-content>
  </ion-card>

  <ion-card class="benefits-card">
    <ion-img class="responsive-img" src="assets/img/pedido_en_paracaidas.png"></ion-img> <!-- Asegúrate de que esta sea la ruta correcta de tu imagen -->
    <ion-card-header>
      <ion-card-title>Nuestros beneficios</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Entrega el Mismo Día: Recoge y entrega en el mismo día para una logística eficiente.
    </ion-card-content>

    <ion-card-content>
      Fotos de Respaldo: Tranquilidad garantizada con fotos de cada entrega.
    </ion-card-content>

    <ion-card-content>
      Rápido y Seguro: Envíos rápidos y seguros, sin importar el tamaño o destino.
    </ion-card-content>

    <ion-button expand="full" color="primary" (click)="goBack()" >Volver</ion-button>
  </ion-card>
</ion-content>
