.benefits-card {
    background-color: #22272b; /* Cambia este color al que desees */
    color: #d6d0d0; /* Ajusta el color del texto si es necesario */
  
    .responsive-img {
      width: 20%;
      height: auto;
      display: block;
      margin: 0 auto; /* Centra la imagen */
    }
  }
  