<ion-content class="black-content">
<div class="main-container">

  <ion-card class="card-center black-content">
    <ion-card-content>
      <ion-img class="responsive-img" src="assets/img/logo-fenix-lastdon.png"></ion-img>
      <ion-title id="title">Transportes Last Don</ion-title>
      <ion-button id="first-of-type-login" routerLink="/login">Iniciar sesión</ion-button>
      <ion-button id="last-of-type" routerLink="/register">Registrarse</ion-button>
    </ion-card-content>
  </ion-card>
  </div>
  
</ion-content>
